/**********************************MOBILE**********************************/

.about-us-section-container {
  padding: 30px 0 50px 0;
  border-radius: 60px 60px 0 0;
  background: var(--white);
}

.about-us-second-wrapper {
  display: flex;
  align-items: center;
}

.about-us-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.about-us-title {
  color: var(--black);
  text-align: center;
  font-size: 45px;

  line-height: 1.02;
  letter-spacing: -0.03em;
}

.about-us-bg {
  width: 190px;
  height: 170px;
  background-position: right;
  background-repeat: no-repeat;

  background-image: image-set(
    url('../../img/about-us/bg/about-us-bg-mobile@1x.png') 1x,
    url('../../img/about-us/bg/about-us-bg-mobile@2x.png') 2x
  );
}

.about-us-contact-info {
  display: flex;
  flex-direction: column;
  column-gap: 12px;

  padding: 26px 18px;
  border-radius: 24px;
  background-color: var(--black);
  border: 1px solid var(--black, #000);
}

.about-us-contact-info-title {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.phone-link {
  font-size: 16px;
  line-height: 1.5;
}

.mail-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.address ul {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 26px;
}

.description-text {
  font-size: 14px;
  text-align: right;
  margin-top: 24px;
}

.about-us-social-media {
  display: flex;
  padding: 26px 18px;
  flex-direction: column;
  row-gap: 12px;

  border-radius: 24px;
  border: 1px solid var(--black);

  margin-bottom: 18px;
}

.about-us-social-media-title {
  color: var(--black);
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
}

.about-us-social-media-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.about-us-social-media-list-item {
  display: flex;
}

.about-us-social-media-list li a {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.social-media-link {
  color: var(--black);
  line-height: 1.6;
}

.about-us-form-wrapper {
  display: flex;
  padding: 26px 18px;
  flex-direction: column;
  align-items: center;
  row-gap: 26px;

  border-radius: 24px;
  background: var(--black);
}

.about-us-form-title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 14px;
}

.contactForm-input {
  display: flex;
  padding: 18px 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: inherit;
  color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--white);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  color: var(--white);
}

.contactForm-btn {
  color: var(--black);
  padding: 20px 40px;

  border: inherit;
  border-radius: 200px;
  background: var(--white);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.contactForm-input:hover,
.contactForm-input:focus,
.contactForm-btn:hover,
.contactForm-btn:focus {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
/**********************************TABLET**********************************/

@media screen and (min-width: 768px) {
  .about-us-section-container {
    padding: 60px 0 55px 0;
  }

  .about-us-info-wrapper {
    flex-direction: row;
    column-gap: 18px;
    margin-bottom: 40px;
  }

  .about-us-title {
    max-width: 440px;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 40px;
  }

  .about-us-bg {
    width: 196px;
    height: 170px;
    background-position: center;
    background-image: image-set(
      url('../../img/about-us/bg/about-us-bg-tablet@1x.png') 1x,
      url('../../img/about-us/bg/about-us-bg-tablet@2x.png') 2x
    );
  }

  /* Контейнер з контактною інформацією */
  .about-us-contact-info {
    width: 100%;
    padding: 32px 40px;
    gap: 18px;
  }

  .about-us-contact-info-title {
    font-size: 22px;
    margin-bottom: 0px;
    text-transform: none;
  }

  .address ul {
    margin-bottom: 30px;
  }

  .address div {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  /* Контейнер з посиланнями на соціальні мережі */

  .about-us-social-media {
    width: 100%;
    padding: 32px 40px;
    row-gap: 30px;
    margin-bottom: 0px;
  }

  .about-us-social-media-title {
    font-size: 22px;
    text-transform: none;
  }

  .about-us-social-media-list {
    row-gap: 24px;
  }

  /* Форма */

  .about-us-form-wrapper {
    padding: 60px;
    row-gap: 32px;
  }

  .contact-form {
    row-gap: 32px;
  }

  .contactForm-input:hover,
  .contact-form-input:focus {
    border-color: none;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
  }
}

/**********************************DESKTOP**********************************/

@media screen and (min-width: 1440px) {
  .about-us-section-container {
    padding: 130px 0 165px 0;
  }

  .about-us-title {
    max-width: 450px;
    text-align: right;
    font-size: 140px;
    line-height: 0.9;
    padding-left: 86px;
    margin-bottom: 58px;
  }

  .about-us-bg {
    width: 310px;
    height: 264px;
    background-position: left;
    background-repeat: no-repeat;

    background-image: image-set(
      url('../../img/about-us/bg/about-us-bg-desctop@1x.png') 1x,
      url('../../img/about-us/bg/about-us-bg-desctop@2x.png') 2x
    );
  }

  .about-us-second-wrapper {
    justify-content: space-between;
  }

  .about-us-bg {
    margin: 0 auto;
  }

  .contacts-layout {
    display: flex;
    column-gap: 68px;
    align-items: stretch;
    justify-content: space-between;
  }

  .about-us-info-wrapper {
    flex-direction: column;
    margin-bottom: 0px;
  }

  /* Контейнер з контактною інформацією */
  .about-us-contact-info {
    width: 456px;
  }

  .phone-link,
  .mail-link {
    font-size: 18px;
    line-height: 1.6;
  }

  .description-text {
    margin-top: 12px;
  }

  /* Контейнер з посиланнями на соціальні мережі */

  .about-us-social-media {
    width: 456px;
    padding: 32px 40px;
    row-gap: 24px;
    margin-bottom: 0px;
  }

  .about-us-social-media-list {
    row-gap: 24px;
  }

  .about-us-social-media-list li a {
    font-size: 18px;
    line-height: 1.6;
  }

  /* Форма */

  .about-us-form-wrapper {
    row-gap: 46px;
  }

  .about-us-form-title {
    font-size: 28px;
    line-height: 1.4;
  }

  .contactForm-input {
    padding: 20px 14px;
  }

  .contactForm-input:hover,
  .contact-form-input:focus {
    border-color: none;
  }

  .contactForm-btn {
    font-size: 18px;
    padding: 26px 46px;
  }
}
