.membership-section-wrapper {
  background-color: var(--black);
  margin: 50px 0 108px 0;
}

.membership-title {
  text-align: right;
  width: 158px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
}

.membership-article-list {
  display: flex;
}

.membership-list-wrapper {
  padding: 24px 18px;
  border: 1px solid var(--white);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.membership-list-wrapper:hover,
.membership-list-wrapper:focus {
  background: var(--white);
  color: var(--black);
}

.membership-list-wrapper:hover .membership-btn,
.membership-list-wrapper:focus .membership-btn {
  background: var(--yellow);
}

.membership-list-wrapper:hover .membership-item,
.membership-list-wrapper:focus .membership-item {
  color: var(--black);
}

.membership-list-wrapper:hover .membership-item.is-not-included,
.membership-list-wrapper:focus .membership-item.is-not-included {
  color: rgba(51, 50, 50, 0.4);
}

.membership-title-item {
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 1.4;
}

.membership-subtitle {
  font-size: 15px;
  letter-spacing: -0.03em;
  padding-bottom: 36px;
}

.membership-features-title {
  font-size: 15px;
  padding-bottom: 18px;
}

.membership-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.membership-item {
  font-family: 'Space Grotesk', sans-serif;
  position: relative;
  padding-left: 40px;

  font-size: 15px;
  line-height: 1.4;
  color: var(--white);

  display: flex;
  align-items: flex-start;
}

.membership-item::before {
  content: '';
  position: absolute;
  left: 0;

  width: 24px;
  height: 24px;

  background-image: url('/img/find-your-fit/check.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.membership-item.is-not-included {
  color: rgba(255, 255, 255, 0.4);
}

.membership-item.is-not-included::before {
  opacity: 0.4;
}

.membership-item.is-included-arrow::before {
  background-image: url('/img/find-your-fit/arrow.png');
  margin-top: 7px;
}

.membership-btn-wrapper {
  padding: 24px 18px;
}

.membership-btn {
  color: var(--black);
  padding: 13px 40px;
  border: inherit;
  border-radius: 200px;
  background: var(--white);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  align-self: center;

  /* width: 284px;
  max-width: 100%; */
}

/**********************************TABLET**********************************/
@media screen and (min-width: 768px) {
  .membership-list-wrapper {
    width: 320px;
  }
}
/**********************************TABLET**********************************/

/**********************************DESKTOP**********************************/
/**********************************DESKTOP**********************************/
