.membership-section-wrapper {
  background-color: var(--black);
  margin: 50px 0 108px 0;
}

.membership-title-wrapper {
}

.membership-title {
  text-align: right;
  width: 158px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
}

.membership-article-list {
  display: flex;
  gap: 9px;
}

.membership-list-wrapper {
  padding: 24px 18px;
  border: 1px solid var(--white);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.membership-title-item {
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 1.4;
}

.membership-subtitle {
  font-size: 15px;
  letter-spacing: -0.03em;
}

.membership-features-title {
  font-size: 15px;
}

.membership-item {
  font-size: 15px;
  font-family: 'Space Grotesk', sans-serif;
}

.membership-btn {
  color: var(--black);
  padding: 13px 40px;
  border: inherit;
  border-radius: 200px;
  background: var(--white);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
