/**********************************MOBILE**********************************/

.footer-bg-wrapper {
  background-color: var(--white);
}
.footer-container {
  padding: 30px 0 4px 0;
  border-radius: 60px 60px 0 0;
  background: var(--black, #000);
}

.footer-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  line-height: 1.02;
  letter-spacing: -0.03em;
  margin-bottom: 26px;
}

.footer-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 32px;
}

.footer-list li a {
  width: 140px;
  line-height: 1.66;
  display: flex;
  column-gap: 14px;
  align-items: center;
  margin: 0 auto;
  color: var(--white);
}

.footer-web-studio-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 24px;
}

.footer-bg-img {
  width: 94px;
  height: 94px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image-set(
    url('../../img/footer/mobile/footer-bg-mobile@1x.png') 1x,
    url('../../img/footer/mobile/footer-bg-mobile@2x.png') 2x
  );
}

/**********************************TABLET**********************************/

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 60px 0 8px 0;
  }

  .footer-title {
    font-size: 100px;
    line-height: 1;
    margin-bottom: 48px;
  }

  .footer-list {
    flex-direction: row;
    column-gap: 14px;
    justify-content: center;
    margin-bottom: 34px;
  }

  .footer-web-studio-text {
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .footer-bg-img {
    width: 136px;
    height: 136px;
    margin: 0px;
    background-image: image-set(
      url('../../img/footer/tablet/footer-bg-tablet@1x.png') 1x,
      url('../../img/footer/tablet/footer-bg-tablet@2x.png') 2x
    );
  }

  .footer-wrapper {
    display: flex;

    column-gap: 108px;
    justify-content: flex-end;
  }
}

/**********************************DESKTOP**********************************/

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 100px 0 4px 0;
  }

  .footer-title {
    font-size: 140px;
    line-height: 1.4;
    margin-bottom: 62px;
  }

  .footer-list {
    column-gap: 20px;
    margin-bottom: 10px;
  }

  .footer-wrapper {
    column-gap: 458px;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .footer-web-studio-text {
    padding: 0 0 20px 0;
  }

  .footer-bg-img {
    margin: 0px;
    background-image: image-set(
      url('../../img/footer/desktop/footer-bg-desktop@1x.png') 1x,
      url('../../img/footer/desktop/footer-bg-desktop@2x.png') 2x
    );
  }
}
