.members-section-wrapper {
  background-color: var(--black);
  margin: 50px 0 108px 0;
}

.members-title {
  text-align: right;
  width: 158px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
}

.members-title-logo {
  text-transform: uppercase;
}

.members-cards-list {
  display: flex;
}

.members-cards {
  width: 282px;
  display: flex;
  color: var(--black);
  height: 450px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;

  border-radius: 30px;
  background: var(--white);
}

.members-cards-role-title {
  font-size: 20px;
  text-align: right;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.members-card-photo-wrapper {
  display: flex;
  width: 148px;
  height: 198px;
  border-radius: 10px;
  margin-left: auto;
  background-color: var(--black);
}

.members-cards-name {
  font-size: 24px;
  line-height: 1.41;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.members-cards-text {
  font-family: 'SpaceGrotesk';
  font-size: 15px;

  font-weight: 400;
  line-height: 1.5;
}
