.members-section-wrapper {
  background-color: var(--black);
  padding: 50px 0 108px 0;
}

.members-title {
  text-align: right;
  width: 158px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
}

.members-title-logo {
  text-transform: uppercase;
}

.members-cards-list {
  display: flex;
}

.members-cards {
  position: relative;
  width: 282px;
  display: flex;
  color: var(--black);
  height: 450px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;
  border-radius: 30px;
  background: var(--white);
  overflow: hidden;
}

.members-cards-role-title {
  font-size: 20px;
  text-align: right;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.members-card-photo-wrapper {
  display: flex;
  width: 148px;
  height: 198px;
  border-radius: 10px;
  margin-left: auto;
  background-color: var(--black);
}

.members-cards-name {
  font-size: 24px;
  line-height: 1.41;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.members-cards-text,
.members-cards-overlay-text {
  font-family: 'SpaceGrotesk';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Overlay */

.overlay-first-member-card,
.overlay-second-member-card,
.overlay-third-member-card {
  position: absolute;
  top: 0;
  left: 0;

  width: 282px;
  height: 450px;
  color: var(--white);
  padding: 18px;

  border-radius: 30px;
  background: var(--blue);
  transform: translateY(100%);
  transition: transform 250ms ease-out;
}

.members-cards-overlay-wrapper,
.members-cards-second-overlay-wrapper,
.members-cards-third-overlay-wrapper {
  display: flex;
  flex-direction: column;
}

.members-cards-overlay-role-title {
  text-align: right;
  font-size: 22px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.members-card-first-overlay-photo-wrapper,
.members-card-second-overlay-photo-wrapper,
.members-card-third-overlay-photo-wrapper {
  display: flex;
  width: 148px;
  height: 198px;
  border-radius: 10px;
  margin-left: auto;
  margin-bottom: 18px;
  background-color: var(--black);
}

.overlay:hover .overlay-first-member-card,
.overlay:hover .overlay-second-member-card,
.overlay:hover .overlay-third-member-card {
  transform: translateY(0%);
}

/**********************************TABLET**********************************/

@media screen and (min-width: 768px) {
  .members-section-wrapper {
    padding-top: 65px;
  }

  .members-swiper-init {
    overflow: visible;
  }

  .members-title {
    width: 350px;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 40px;
  }

  .members-cards {
    width: 370px;
    height: 444px;
    padding: 22px;
  }

  .members-cards-role-title {
    font-size: 28px;
    line-height: 1.42;
  }

  .members-cards-name {
    font-size: 32px;

    line-height: 0.93;
    letter-spacing: -0.03em;
    text-transform: none;
  }

  .members-cards-text {
    line-height: 1.43;
    letter-spacing: -0.03em;
  }

  /* Overlay */

  .overlay-first-member-card,
  .overlay-second-member-card,
  .overlay-third-member-card {
    width: 370px;
    height: 444px;
    padding: 22px;
  }

  .members-cards-overlay-wrapper,
  .members-cards-second-overlay-wrapper,
  .members-cards-third-overlay-wrapper {
    display: flex;
    flex-direction: column;
  }

  .members-cards-overlay-role-title {
    font-size: 28px;
    line-height: 1.42;
  }
}

/**********************************DESKTOP**********************************/

@media screen and (min-width: 1440px) {
  .members-section-wrapper {
    padding-top: 64px;
  }

  .members-title {
    width: 435px;
    font-size: 140px;
    line-height: 0.97;
    padding-left: 50px;
    margin-bottom: 80px;
  }

  .members-cards,
  .overlay-first-member-card,
  .overlay-second-member-card,
  .overlay-third-member-card {
    width: 370px;
    height: 444px;
    padding: 30px;
  }

  .members-cards-text {
    line-height: 1.43;
    letter-spacing: -0.03em;
  }
}
