.members-section-wrapper {
  background-color: var(--black);
  margin: 50px 0 108px 0;
}

.members-title {
  text-align: right;
  width: 158px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
}

.members-title-logo {
  text-transform: uppercase;
}

.members-cards-list {
  display: flex;
}

.members-cards {
  display: flex;
  color: var(--black);
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;

  border-radius: 30px;
  background: var(--white);
}
