<footer class="footer-container">
  <div class="container">
    <h2 class="footer-title">Let's work together</h2>
    <ul class="footer-list">
      <li class="footer-list-item">
        <a
          href=""
          class="social-media-link"
          aria-label="Telegram link."
          target="_blank"
        >
          <picture>
            <!-- Desktop screen 1440 -->

            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/footer/desktop/telegram-icon-desktop@1x.png 1x,
                ./img/footer/desktop/telegram-icon-desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./img/footer/tablet/telegram-icon-tablet@1x.png 1x,
                ./img/footer/tablet/telegram-icon-tablet@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/footer/mobile/telegram-icon-mobile@1x.png 1x,
                ./img/footer/mobile/telegram-icon-mobile@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./img/footer/mobile/telegram-icon-mobile@1x.png"
              alt="Telegram icon"
              loading="lazy"
            />
          </picture>
          Telegram
        </a>
      </li>
      <li>
        <a
          href=""
          class="social-media-link"
          aria-label="Instagram link."
          target="_blank"
        >
          <picture>
            <!-- Desktop screen 1440 -->

            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/footer/desktop/instagram-icon-desktop@1x.png 1x,
                ./img/footer/desktop/instagram-icon-desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./img/footer/tablet/instagram-icon-tablet@1x.png 1x,
                ./img/footer/tablet/instagram-icon-tablet@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/footer/mobile/instagram-icon-mobile@1x.png 1x,
                ./img/footer/mobile/instagram-icon-mobile@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./img/footer/mobile/instagram-icon-mobile@1x.png"
              alt="Instagram icon"
              loading="lazy"
            />
          </picture>
          Instagram
        </a>
      </li>
      <li>
        <a
          href=""
          class="social-media-link"
          aria-label="Linkedin link."
          target="_blank"
        >
          <picture>
            <!-- Desktop screen 1440 -->

            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/footer/desktop/linkedin-icon-desktop@1x.png 1x,
                ./img/footer/desktop/linkedin-icon-desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./img/footer/tablet/linkedin-icon-tablet@1x.png 1x,
                ./img/footer/tablet/linkedin-icon-tablet@2x.png 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/footer/mobile/linkedin-icon-mobile@1x.png 1x,
                ./img/footer/mobile/linkedin-icon-mobile@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./img/footer/mobile/linkedin-icon-mobile@1x.png"
              alt="Linkedin icon"
              loading="lazy"
            />
          </picture>
          Linkedin
        </a>
      </li>
    </ul>
    <div class="footer-wrapper">
      <p class="footer-web-studio-text">Created by SL Digital Agency</p>
      <div class="footer-bg-img"></div>
    </div>
  </div>
</footer>
