<section class="members-section-wrapper">
  <div class="container">
    <div class="members-title-wrapper">
      <h2 class="members-title">
        The <span class="members-title-logo">sl</span> Crew
      </h2>
    </div>
    <div class="members-swiper-init swiper swiper-position">
      <ul class="swiper-wrapper members-cards-list">
        <li
          class="swiper-slide"
          aria-roledescription="slide"
          aria-label="1 з 3"
        >
          <div class="members-cards">
            <div class="members-cards-wrapper">
              <h3>Project Manager & Frontend Developer</h3>
              <picture></picture>
            </div>
            <div class="members-cards-text-wrapper">
              <h3>Dmitry</h3>
              <p>
                I’m the first face you meet — here to guide you and make
                everything smooth. Behind the scenes, I make sure our crew works
                like a well-oiled, happy machine.
              </p>
            </div>
          </div>
        </li>
        <li
          class="swiper-slide"
          aria-roledescription="slide"
          aria-label="3 з 3"
        >
          <div class="members-cards">
            <div class="members-cards-wrapper">
              <h3>UX/UI Designer & Brand Strategist</h3>
              <picture></picture>
            </div>
            <div class="members-cards-text-wrapper">
              <h3>Natalie</h3>
              <p>
                I’m the first face you meet — here to guide you and make
                everything smooth. Behind the scenes, I make sure our crew works
                like a well-oiled, happy machine.
              </p>
            </div>
          </div>
        </li>
        <li
          class="swiper-slide"
          aria-roledescription="slide"
          aria-label="3 з 3"
        >
          <div class="members-cards">
            <div class="members-cards-wrapper">
              <h3>Frontend Developer & Backend Developer</h3>
              <picture></picture>
            </div>
            <div class="members-cards-text-wrapper">
              <h3>Victor</h3>
              <p>
                Don’t worry — I speak human, not just code. My job is to take
                wild ideas and turn them into smooth digital experiences that
                actually work.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
