<section class="members-section-wrapper">
  <div class="container">
    <div class="members-title-wrapper">
      <h2 class="members-title">
        The <span class="members-title-logo">sl</span> Crew
      </h2>
    </div>
    <div class="members-swiper-init swiper swiper-position">
      <ul class="swiper-wrapper members-cards-list">
        <li
          class="swiper-slide overlay"
          aria-roledescription="slide"
          aria-label="1 з 3"
        >
          <div class="card-shell">
            <div class="card">
              <div class="card-front">
                <div class="members-cards">
                  <div class="members-cards-wrapper">
                    <h3 class="members-cards-role-title">
                      Project Manager & Frontend Developer
                    </h3>
                    <picture class="members-card-photo-wrapper">
                      <source
                        srcset="
                          ./img/members/dmytry-second-img@1x.jpg 1x,
                          ./img/members/dmytry@2x.jpg            2x
                        "
                        media="(min-width:1440px)"
                      />
                      <source
                        srcset="
                          ./img/members/dmytry@1x.jpg 1x,
                          ./img/members/dmytry@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                      />
                      <source
                        srcset="
                          ./img/members/dmytry@1x.jpg 1x,
                          ./img/members/dmytry@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/members/dmytry@1x.jpg "
                        alt="Portrait of Dmytry wearing a dark blazer and black shirt, photographed against a dark studio background."
                        width="148"
                        height="198"
                        class="members-card-photo-wrapper"
                      />
                    </picture>
                  </div>
                  <div class="members-cards-text-wrapper">
                    <h3 class="members-cards-name">Dmitry</h3>
                    <p class="members-cards-text">
                      I’m the first face you meet — here to guide you and make
                      everything smooth. Behind the scenes, I make sure our crew
                      works like a well-oiled, happy machine.
                    </p>
                  </div>
                </div>
              </div>
              <!-- OVERLAY START -->
              <div class="card-back">
                <div class="overlay-first-member-card">
                  <div class="members-cards-first-overlay-wrapper">
                    <h3 class="members-cards-overlay-role-title">
                      Beyond the Office
                    </h3>
                    <picture class="members-card-first-overlay-photo-wrapper">
                      <source
                        srcset="
                          ./img/members/second-img/dmytry-second-img@1x.jpg
                        "
                        media="(min-width:1440px)"
                      />
                      <source
                        srcset="
                          ./img/members/second-img/dmytry-second-img@1x.jpg
                        "
                        media="(min-width:768px)"
                      />
                      <source
                        srcset="
                          ./img/members/second-img/dmytry-second-img@1x.jpg
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/members/second-img/dmytry-second-img@1x.jpg"
                        alt="Dmytry standing on a dark stage holding a microphone during a stand-up comedy night."
                        width="148"
                        height="198"
                        class="members-card-back-photo-wrapper"
                      />
                    </picture>
                  </div>
                  <div class="members-cards-first-overlay-text-wrapper">
                    <p class="members-cards-overlay-text">
                      When he’s not guiding people at work, Dmitry is either
                      making audiences laugh on stage with his stand-up or
                      babysitting his cat like it’s a VIP client.
                    </p>
                  </div>
                </div>
              </div>
              <!-- OVERLAY OVER -->
            </div>
          </div>
        </li>
        <li
          class="swiper-slide overlay"
          aria-roledescription="slide"
          aria-label="3 з 3"
        >
          <div class="card-shell">
            <div class="card">
              <div class="card-front">
                <div class="members-cards">
                  <div class="members-cards-wrapper">
                    <h3 class="members-cards-role-title">
                      UX/UI Designer & Brand Strategist
                    </h3>
                    <picture class="members-card-photo-wrapper">
                      <source
                        srcset="
                          ./img/members/natalia@1x.jpg 1x,
                          ./img/members/natalia@2x.jpg 2x
                        "
                        media="(min-width:1440px)"
                      />
                      <source
                        srcset="
                          ./img/members/natalia@1x.jpg 1x,
                          ./img/members/natalia@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                      />
                      <source
                        srcset="
                          ./img/members/natalia@1x.jpg 1x,
                          ./img/members/natalia@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/members/natalia@1x.jpg "
                        alt="Studio portrait of Natalia, a woman with long dark hair wearing a black blazer, seated with folded arms against a neutral gray background."
                        width="148"
                        height="198"
                        class="members-card-photo-wrapper"
                      />
                    </picture>
                  </div>
                  <div class="members-cards-text-wrapper">
                    <h3 class="members-cards-name">Natalie</h3>
                    <p class="members-cards-text">
                      I’m the first face you meet — here to guide you and make
                      everything smooth. Behind the scenes, I make sure our crew
                      works like a well-oiled, happy machine.
                    </p>
                  </div>
                </div>
              </div>
              <!-- OVERLAY START -->
              <div class="card-back">
                <div class="overlay-second-member-card">
                  <div class="members-cards-second-overlay-wrapper">
                    <h3 class="members-cards-overlay-role-title">
                      Beyond the Office
                    </h3>
                    <picture class="members-card-second-overlay-photo-wrapper">
                      <source
                        srcset="
                          ./img/members/second-img/natalia-second-img@1x.jpg 1x,
                          ./img/members/second-img/natalia-second-img@2x.jpg 2x
                        "
                        media="(min-width:1440px)"
                      />
                      <source
                        srcset="
                          ./img/members/second-img/natalia-second-img@1x.jpg 1x,
                          ./img/members/second-img/natalia-second-img@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                      />
                      <source
                        srcset="
                          ./img/members/second-img/natalia-second-img@1x.jpg 1x,
                          ./img/members/second-img/natalia-second-img@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/members/second-img/natalia-second-img@1x.jpg"
                        alt="A white rabbit with long, soft fur is lying on a person’s lap. The photo is taken from above, showing the person’s legs in black pants while the rabbit is comfortably resting against them. The rabbit looks calm and relaxed, creating a warm and cozy feeling."
                        width="148"
                        height="198"
                        class="members-card-back-photo-wrapper"
                      />
                    </picture>
                  </div>
                  <div class="members-cards-second-overlay-text-wrapper">
                    <p class="members-cards-overlay-text">
                      I pick perfumes like Instagram filters — one for every
                      mood. And yes, even my rabbit has opinions on my designs
                      he’s the fluffiest art director you’ll ever meet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- OVERLAY OVER -->
        </li>
        <li
          class="swiper-slide overlay"
          aria-roledescription="slide"
          aria-label="3 з 3"
        >
          <div class="card-shell">
            <div class="card">
              <div class="card-front">
                <div class="members-cards">
                  <div class="members-cards-wrapper">
                    <h3 class="members-cards-role-title">
                      Front-end & Back-end Developer
                    </h3>
                    <picture class="members-card-photo-wrapper">
                      <source
                        srcset="
                          ./img/members/viktor@1x.jpg 1x,
                          ./img/members/viktor@2x.jpg 2x
                        "
                        media="(min-width:1440px)"
                      />
                      <source
                        srcset="
                          ./img/members/viktor@1x.jpg 1x,
                          ./img/members/viktor@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                      />
                      <source
                        srcset="
                          ./img/members/viktor@1x.jpg 1x,
                          ./img/members/viktor@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/members/viktor@1x.jpg "
                        alt="Studio portrait of Viktor, a man with short brown hair and light stubble, wearing a dark suit and black turtleneck, standing against a dark background with a slight smile."
                        width="148"
                        height="198"
                        class="members-card-photo-wrapper"
                      />
                    </picture>
                  </div>
                  <div class="members-cards-text-wrapper">
                    <h3 class="members-cards-name">Victor</h3>
                    <p class="members-cards-text">
                      Don’t worry — I speak human, not just code. My job is to
                      take wild ideas and turn them into smooth digital
                      experiences that actually work.
                    </p>
                  </div>
                </div>
              </div>
              <!-- OVERLAY START -->
              <div class="card-back">
                <div class="overlay-third-member-card">
                  <div class="members-cards-third-overlay-wrapper">
                    <h3 class="members-cards-overlay-role-title">
                      Beyond the Office
                    </h3>
                    <picture class="members-card-third-overlay-photo-wrapper">
                      <source
                        srcset="
                          ./img/members/second-img/viktor-second-img@1x.jpg 1x,
                          ./img/members/second-img/viktor-second-img@2x.jpg 2x
                        "
                        media="(min-width:1440px)"
                      />
                      <source
                        srcset="
                          ./img/members/second-img/viktor-second-img@1x.jpg 1x,
                          ./img/members/second-img/viktor-second-img@2x.jpg 2x
                        "
                        media="(min-width:768px)"
                      />
                      <source
                        srcset="
                          ./img/members/second-img/viktor-second-img@1x.jpg 1x,
                          ./img/members/second-img/viktor-second-img@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/members/second-img/viktor-second-img@1x.jpg"
                        alt="Victor is lying on a wooden bench on green grass. He has his hands behind his head and is looking up at the sky, appearing relaxed and at ease. He is wearing a light-colored shirt and shorts, giving a casual, summery feel. The atmosphere of the photo is calm and peaceful, as if he is enjoying a quiet moment in nature and his own thoughts."
                        width="148"
                        height="198"
                        class="members-card-back-photo-wrapper"
                      />
                    </picture>
                  </div>
                  <div class="members-cards-third-overlay-text-wrapper">
                    <p class="members-cards-overlay-text">
                      ✨ Morning? Not coffee — breathing. <br />A couple of
                      asanas, sun pokes me, body says: “cheers.” 🥝 Breakfast?
                      Basically a fruit rave with nuts invited. <br />💪 Sport?
                      Nope, not suffering — just feeling strong and flying.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- OVERLAY OVER -->
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
