<section class="philosophy-section">
  <div class="container">
    <div class="pholisophy-title-wrapper">
      <h2 class="philosophy-title">Brain & Heart</h2>
      <div class="philosophy-bg-wrapper"></div>
    </div>
    <div
      class="philisophy-cards-wrapper members-swiper-init swiper swiper-position"
    >
      <ul class="philosophy-cards-list swiper-wrapper">
        <li class="philosophy-cards-list swiper-slide">
          <h3>Our formula</h3>
          <p class="philosophy-card-text">
            Price–quality balance: we deliver professional work without
            “sky-high budgets.”
          </p>
        </li>
        <li class="philosophy-cards-list swiper-slide">
          <h3>Personality</h3>
          <p class="philosophy-card-text">
            We are a warm, approachable, modern agency — sometimes with a sense
            of humor.
          </p>
        </li>
        <li class="philosophy-cards-list swiper-slide">
          <h3>Philosophy</h3>
          <p class="philosophy-card-text">
            Digital can feel overwhelming. We’re your friendly guide, turning
            chaos into clarity.
          </p>
        </li>
        <li class="philosophy-cards-list swiper-slide">
          <video class="heart-video-wrapper" autoplay loop muted playsinline>
            <source src="./img/philosophy/heart.mp4" type="video/mp4" />
          </video>
        </li>
        <li class="philosophy-cards-list swiper-slide">
          <h3>Our formula</h3>
          <p class="philosophy-card-text">
            We speak in plain language, not in IT slang or complicated terms.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
